Source: ros-hydro-lcas-hri
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: https://github.com/LCAS/ros_systems
Standards-Version: 3.9.2

Package: ros-hydro-lcas-hri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mongodb, ros-hydro-mongodb-log, ros-hydro-mongodb-store, ros-hydro-mongodb-store-msgs, ros-hydro-scitos-cmd-vel-mux, ros-hydro-scitos-common, ros-hydro-scitos-description, ros-hydro-scitos-docking, ros-hydro-scitos-msgs, ros-hydro-scitos-ptu, ros-hydro-scitos-teleop, ros-hydro-strands-morse, ros-hydro-strands-movebase, ros-hydro-strands-perception-people
Description: The lcas_hri metapackage
